--upgrade
pip

# App principal
streamlit>=1.25

# Bibliotecas usuais
pandas>=2.0
numpy>=1.25
altair>=5.0
plotly>=5.0
matplotlib
scipy

# Backend web (se realmente usar)
Flask
Flask-Login
Flask-SQLAlchemy
SQLAlchemy

# PDF e documentos
pdfplumber
PyPDF2
pdf2image
python-docx
docx2pdf

# Imagens
pillow
PyMuPDF

# Outros utilitários
requests
openpyxl
watchdog
tqdm

# Para gráficos e visualizações
pydeck

# Para compatibilidade
typing_extensions
